{% extends 'basic_app/base.html' %}
{% block content %}

<div class="row">
  <div class="col">
    <h5><center>Your Portfolio</center></h5>
    <br>
    <div class="card card-body">
      <table class="table table-sm">
        <tr>
          <th></th>
          <th>Stock Symbol</th>
          <th>Stock Name</th>
          <th>Quantity</th>
          <th>Date added</th>
        </tr>
        {% for stock in stocks %}
        <tr>
          <td></td>
          <td>{{stock.stock_symbol}}</td>
          <td>{{stock.stock_name}}</td>
          <td>{{stock.quantity}}</td>
          <td>{{stock.date_added}}</td>

        </tr>
        {% endfor %}

      </table>

    </div>
    <a href="{% url 'basic_app:portfolio' %}">Go to Portfolio</a>

  </div>

  <div class="col">
    <h5><center>Top Stock Recommendations</center></h5>
    <br>
    <div class="card card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

  </div>
</div>
<br><br>
<div class="row">
  <h2><center>Trending News</center></h2>
  <br>
  <br>

      {% for key,value in news.items %}
  <div class="col-4 d-flex">
    <div class="card" >
      <img class="card-img-top" style="height:50%" src= {{value.urlToImage}} alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title">{{value.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Source: {{value.source.name}}</h6>

      <p class="card-text">{{value.description}}</p>
      <a href="{{value.url}}" class="btn btn-primary">See Article</a>
    </div>
  </div>

  </div>


      {% endfor %}


</div>


{% endblock %}
