{% extends 'basic_app/base.html' %}
{% block content %}
<div class="container">
  <h1><center>
    Manage Portfolio
  </center></h1>
  <div class="row">
    <div class="col">
      <br>
      <div class="card card-body">
        <table class="table table-sm">
          <tr>
            <th></th>
            <th>Stock Symbol</th>
            <th>Stock Name</th>
            <th>Quantity</th>
            <th>Stock Price</th>

            <th>Sector Performance</th>
            <th></th>
          </tr>
          {% for stock in stocks %}
          <tr>
            <td></td>
            <td>{{stock.stock_symbol}}</td>
            <td>{{stock.stock_name}}</td>
            <td>
              <a href="{{stock.stock_symbol}}/quantitySub" class="btn btn-sm btn-danger">-</a>
              {{stock.quantity}}
              <a href="{{stock.stock_symbol}}/quantityAdd"class="btn btn-sm btn-success">+</a>
            </td>
            <td>{{stock.stock_price}}</td>

            <td>{{stock.stock_sector_performance}}</td>
            <td><a href="{{stock.stock_symbol}}/remove" class = "btn btn-danger btn-sm">Delete</a></td>

          </tr>
          {% endfor %}



        </table>


      </div>

    </div>
</div>
</div>

<!-- <script type="text/javascript">
var deleteBtn = document.getElementById("delete-btn");


deleteBtn[0].addEventListener("click",function(){
  var stock_key = this.dataset.symbol;
  console.log(stock_key);
  $.ajax({
    type: 'POST',
    url: '',
    data: {
      'symbol': stock_key,
    'csrfmiddlewaretoken': csrftoken
  },
    success: console.log('success'),
    error: console.log('failure')
  });

})


</script> -->

{% endblock %}
