{% extends 'basic_app/base.html' %}
{% block content %}
<div class="container">
  <h1><center>
    Manage Portfolio
  </center></h1>
  <div class="row">
    <div class="col">
      <br>
      <div class="card card-body">
        <table class="table table-sm">
          <tr>
            <th></th>
            <th>Stock Symbol</th>
            <th>Stock Name</th>
            <th>Quantity</th>
            <th>Date added</th>
          </tr>
          {% for stock in stocks %}
          <tr>
            <td></td>
            <td>{{stock.stock_symbol}}</td>
            <td>{{stock.stock_name}}</td>
            <td>{{stock.quantity}}</td>
            <td>{{stock.date_added}}</td>

          </tr>
          {% endfor %}

        </table>

      </div>

    </div>
</div>
</div>

{% endblock %}
