{% extends 'basic_app/base.html' %}
{% load static %}
{% block content %}
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js" type="text/javascript"></script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-stock.min.js" type="text/javascript"></script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-data-adapter.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body>
  <div class="card card-body p-10px">
    <div class="row">
      <div class="col">
        <center>
          <h1 style="display: inline-block;">{{info.shortName}}</h1>
          <center>
      </div>

        <div class="col-2">
          <input type="button" data-symbol={{info.symbol}} data-name={{info.shortName}} data-action="add" class="btn btn-primary update-portfolio" style="display:inline-block" value="Add to Portfolio">

        </div>




    </div>

    <div class="row">

      <div class="col container">





        <p>{{info.longBusinessSummary}}</p>

      </div>
    </div>
  </div>
<br>
<br>
  <div class="row p-10">
    <div class="col-5 p-10">
      <div class="card card-body">
        <center>
          <h2>Technical Analysis</h2>
        </center>


        <div class="col-5">
          <div id="chart-box" style="height:500px; width:650px;"></div>
        </div>

      </div>


    </div>


  </div>

<script type='text/javascript' src="{% static 'js/stock.js' %}"></script>

  <script>

    var passed_data = {{data | safe}}
    var info = {{item | safe}}

    // set the chart type
    var dataTable = anychart.data.table("Date");
    // create a data table
    dataTable.addData(passed_data);

    // map the data
    var mapping = dataTable.mapAs({
      open: "Open",
      high: "High",
      low: "Low",
      close: "Close"
    });

    // create a stock chart


    // set the chart type
    var chart = anychart.stock();
    // set the series
    var series = chart.plot(0).candlestick(mapping);
    series.name(info[0]["name"] + " Trade Data");

    // set the chart title
    chart.title(info[0]["name"] + " Trade Data");
    // set the container id
    chart.container('chart-box');

    // draw the chart
    chart.draw();




      </script>


</body>

{% endblock %}
